:root{
  --fontePrincipal: "Barlow", serif;
  --corPrimaria: #0A3871;
  --corSecundaria: #3A97D9;
  --corTexto: #0C2856;
  --gapPequeno: .3rem;
  --gapMedio: 1rem;
  --gapGrande: 1.5rem;
  --paddingButton: 1rem;
}

body {
  margin: 0;
  font-family: var(--fontePrincipal);
  color: var(--corTexto);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, fieldset, select{
  outline: none;
  border: 2px solid var(--corPrimaria);
  border-radius: 8px;
  color: var(--corTexto);
}

input, select{
  padding: .5rem;
}

fieldset{

  display: flex;
  flex-direction: column;
  gap: var(--gapGrande);
  padding: 1rem;
}

button{
  cursor: pointer;
  padding: .5rem;
  border: transparent;
  border-radius: 8px;
  background-color: var(--corSecundaria);
  color: white;
  
}

button:hover{
  background-color: var(--corPrimaria);
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
