.containerFieldset{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.containerFieldset div{
    display: flex;
    gap: var(--gapPequeno);
    align-items: center;
    
}