.containerHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem 0 2rem 5rem;
    background-color: #7ec6fa;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.6);
}

.containerHeader img{
    width: 100px;
    transition: transform 1.5s ease-in-out;
    cursor: pointer;
    margin-right: 6rem;
}

.containerHeader img:hover{
    animation: rotate 1.5s forwards;
    
}

@keyframes rotate {
    0% {
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.containerHeader span{
    font-size: 1.6rem;
    color: var(--corTexto);
    text-shadow: 0 0 1px white, 0 0 3px white;
    
}